@import "@/utils/theme.scss";

.inputForm2_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.inputForm_mandatory {
  @include primaryFont($size_xs);
  color: $neutral_dark;
  margin-top: $margin_md;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.inputForm_innerContainer {
  margin: $margin_lg 0;
}

.inputForm2_divPhone {
  display: flex;
}

/* #inputAmountUsers {
  width: 20%;
} */

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .inputForm2_div {
    display: flex !important;
    flex-direction: column;
    gap: 0px;
    width: 100%;
  }
  .inputForm_mobile {
    flex-direction: column !important;
  }
  .inputForm2_mobile > input {
    width: 100%;
  }
  .inputForm_mobileColumn {
    flex-direction: column;
  }
  .inputForm_mobileColumn > input {
    width: 90%;
  }
}
