@import "@/utils/theme.scss";

.inputForm2_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .inputForm2_div {
    display: flex !important;
    flex-direction: row;
    gap: 5px;
    width: 100%;
  }
  .inputForm_mobile {
    flex-direction: column !important;
  }
  .inputForm2_mobile > input {
    width: 100%;
  }
}
