@import "@/utils/theme.scss";

.container {
  @include width-height(100%, auto);
  @include flex(column, flex-start, flex-start);
  gap: 40px;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  /*   padding: 40px; */
  color: $neutral_dark;
  .column_container {
    @include flex(row, space-between, flex-start);
    @include width-height(100%, auto);
    .column {
      @include flex(column, flex-start, flex-start);
      width: 50%;
      gap: 18px;
      padding: 40px 0 40px 40px;
      .subtitle {
        @include flex(row, center, center);
        gap: 10px;
        h5 {
          @include primaryFont($size_md);
        }
      }
      .text_container {
        @include flex(column, center, flex-start);
        gap: 10px;
        p {
          @include primaryFont($size_sm);
        }
      }
      .input_container {
        @include flex(row, center, center);
        gap: 10px;
      }
      .message {
        @include primaryFont($size_xs);
        text-align: end;
        width: 80%;
      }
      .bank_image {
        @include width-height(auto, 30px);
        max-width: 250px;
        object-fit: contain;
      }
      .Bandes,
      .Itau,
      .Heritage {
        @include width-height(auto, 50px);
        object-fit: contain;
      }
      .Santander,
      .Scotiabank {
        max-width: 180px;
      }
      .Bbva {
        height: 32px;
      }
    }
    .column_end {
      @include flex(column, flex-start, flex-end);
      gap: 20px;
      padding: 40px 40px 40px 0;
    }
  }
}

// Media querys
@media (max-width: $querySm) {
  .container {
    border-radius: 15px;
    .column_container {
      @include flex(column, flex-start, flex-start);
      gap: 0px;
      .column {
        @include flex(column, flex-start, flex-start);
        gap: 20px;
        @include width-height(auto, auto);
        padding: 20px;
        .subtitle {
          @include width-height(100%, auto);
          @include flex(row, flex-start, center);
          h5 {
            @include primaryFont($size_sm);
            margin: 0;
          }
        }
        .text_container {
          p {
            @include primaryFont($size_xs);
          }
        }
        .input_container {
          @include flex(column, flex-start, flex-start);
          gap: 20px;
          @include width-height(100%, auto);
        }
        .message {
          text-align: start;
          width: 100%;
        }
        .bank_image {
          align-self: flex-start;
          @include width-height(auto, 20px);
          max-width: 230px;
        }
        .Bandes,
        .Itau,
        .Heritage {
          @include width-height(auto, 35px);
          max-width: 180px;
        }
        .Santander,
        .Scotiabank {
          max-width: 165px;
        }
        .Bbva {
          height: 17px;
        }
      }
      .column_end {
        @include flex(column, flex-start, flex-end);
        @include width-height(auto, auto);
        gap: 20px;
        margin-top: 0px;
        padding: 20px;
        button {
          align-self: center;
        }
      }
    }
  }
}

svg {
  path {
    stroke: var(--primary-color);
  }
}
