@import "@/utils/theme.scss";

.button {
  @include primaryFont($size_xs);
  border: none;
  border-radius: 40px;
  background: $green_gradient;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $tertiary;
  padding: $padding_md $padding_lg;
  margin: $margin_md 0;
  cursor: pointer;
  transition: all 0.4s;
  &:hover {
    background: $green_gradient_hover;
  }
  .button_icon {
    color: $tertiary;
    font-size: $size_xs;
    margin-left: $margin_sm;
  }
  &:disabled {
    background: none;
    background-color: $neutral_light;
  }
}

.buttonSecondary {
  @include primaryFont($size_xs);
  padding: $padding_sm $padding_md;
  color: $tertiary;
  background-color: $primary;
  display: inline-block;
  cursor: pointer;
  border: none;
  &:disabled {
    background-color: $neutral_light;
  }
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .button {
    @include primaryFont($size_xs);
    padding: $padding_sm $padding_md;
  }
}
