@import "@/utils/theme.scss";

.smsInput {
  @include flex(row, space-between, center);
  gap: 21px;
  width: 55%;
}
@media screen and (min-width: 200px) and (max-width: 1024px) {
  .smsInput {
    @include flex(row, space-between, center);
    gap: 20px;
  }
}
