@import "@/utils/theme.scss";

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  border-radius: 100px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_circle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $neutral;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100px;
}

.switch_circle:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -2px;
  background-color: $neutral_light;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100px;
}

input:checked + .switch_circle {
  background-color: $neutral;
}

input:focus + .switch_circle {
  box-shadow: 0 0 1px $neutral;
}

input:checked + .switch_circle:before {
  background-color: var(--bg-primary-color);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
