@import "@/utils/theme.scss";

.step4 {
  @include flex(row, center, center);
  width: 100%;
  margin-bottom: $margin_lg;
  .step4_container {
    @include flex(column, center, flex-start);
    width: 100%;
    max-width: $max_width;
    .step4_title {
      @include primaryFont($size_lg);
      color: $neutral_dark;
      margin-bottom: $margin_lg;
    }
    .step4_innerContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      gap: 50px;
      .step4_descriptionContainer {
        @include flex(row, flex-start, center);
        gap: 20px;
        margin: $margin_lg 0;
        .step4_icon {
          color: var(--bg-secondary-color);
          font-size: $size_sm;
        }
        .step4_text {
          @include primaryFont($size_sm);
          color: $neutral_dark;
        }
      }
      .step4_imgContainer {
        @include flex(column, flex-start, center);
        width: 100%;
        .step4_img {
          width: 50%;
        }
      }
    }
    .step4_buttonContainer {
      align-self: flex-end;
    }
    .step4_label {
      @include primaryFont($size_xs);
      color: $neutral_dark;
    }
    .step4_finalText {
      @include primaryFont($size_xs);
      color: $neutral_dark;
      margin: 0;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .step4 {
    .step4_container {
      margin: 0 $margin_md;
      .step4_title {
        @include primaryFont($size_md);
        margin-bottom: $margin_lg;
      }
      .step4_innerContainer {
        display: flex;
        flex-direction: column;
        gap: 0px;
        .step4_descriptionContainer {
          gap: 10px;
          margin: $margin_lg 0;
        }
      }

      .step4_finalText {
        @include primaryFont($size_xs);
        margin-bottom: $margin_md;
      }
      .step3_label {
        @include primaryFont($size_xs);
      }
    }
  }
}
