@import "@/utils/theme.scss";

.inputForm_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.inputForm_title {
  @include primaryFont($size_lg);
  color: $neutral_dark;
}

.inputForm_labelContainer {
  margin: $margin_lg 0;
  .step3_label {
    @include primaryFont($size_xs);
    color: $neutral_dark;
  }
}

.inputForm_mandatory {
  @include primaryFont($size_xs);
  color: $neutral_dark;
  margin-top: $margin_md;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .inputForm_div {
    display: flex !important;
    flex-direction: column;
    gap: 0px;
    width: 100%;
  }
  .inputForm_mobile {
    flex-direction: column !important;
  }
  .inputForm_div_mobile > input {
    width: 100% !important;
  }
  .inputForm_title {
    @include primaryFont($size_md);
    margin: $margin_xs 0;
  }

  .inputForm_labelContainer {
    margin: $margin_md 0;
    .step3_label {
      @include primaryFont($size_xs);
    }
  }
}
