@import "@/utils/theme.scss";

.spinner_step4 {
  @include flex(row, center, center);
  width: auto;
}

.spinner_home {
  @include flex(row, center, center);
  margin-top: 200px;
  width: 100%;
}

.spinner {
  border: 3px solid $secondary;
  border-radius: 100%;
  border-left-color: transparent;
  width: 36px;
  height: 36px;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
