@import "@/utils/theme.scss";

.inputCheck {
  @include flex(row, space-between, center);
  background-color: $tertiary;
  border: none;
  border-radius: 3px 3px 0px 0px;
  padding: $padding_md;
  @include primaryFont($size_sm);
  color: $neutral;
  margin: $margin_md 0;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .inputCheck_p {
    @include primaryFont($size_xs);
  }
}
