@import "@/utils/theme.scss";

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden_mobile;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  @include primaryFont($size_xs);
  padding: $padding_xs $padding_sm;
  color: $tertiary;
  background-color: $primary;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: $primary;
  cursor: pointer;
}

.inputFile_container {
  @include flex(row, space-between, center);
  background-color: $tertiary;
  border: none;
  border-bottom: 2px solid $primary;
  border-radius: 3px 3px 0px 0px;
  padding: $padding_md;
  @include primaryFont($size_sm);
  color: $neutral;
  margin: $margin_md 0;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .inputfile {
    @include primaryFont($size_xs);
    width: 90%;
  }
}
