@import "@/utils/theme.scss";

.container {
  @include width-height(100%, auto);
  @include flex(column, flex-start, flex-start);
  gap: 40px;
  .column_container {
    @include flex(row, space-between, flex-start);
    @include width-height(100%, auto);
    .column {
      gap: 20px;
      @include flex(column, space-between, flex-start);
      .text_container {
        @include flex(column, center, flex-start);
        gap: 10px;
        p {
          @include primaryFont($size_sm);
          color: $neutral_dark;
        }
      }
      .bank_image {
        @include width-height(auto, 30px);
        object-fit: contain;
      }
    }
    .column_end {
      @include flex(column, flex-start, flex-end);
      gap: 20px;
    }
  }
}

// Media querys
@media (max-width: 450px) {
  .container {
    border-radius: 15px;
    .column_container {
      @include flex(column, flex-start, flex-start);
      gap: 20px;
      .column {
        gap: 0px;
        @include flex(column, flex-start, flex-start);
        @include width-height(100%, auto);
        .text_container {
          p {
            @include primaryFont($size_sm);
          }
        }
        .bank_image {
          align-self: flex-start;
        }
      }
      .column_end {
        @include flex(column, center, flex-start);
        gap: 20px;
        margin-top: 0px;
        button {
          align-self: flex-start;
        }
      }
    }
  }
}
