@import "@/utils/theme.scss";

.navBar {
  @include flex(row, center, center);
  background-color: $neutral_lighter;
  width: 100%;
  padding: $padding_md 0;
  box-shadow: $shadow;
  .navBar_container {
    @include flex(row, space-between, center);
    width: 100%;
    max-width: $max_width;
    .navBar_title {
      @include secondaryFont(40px);
      color: $neutral_darker;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .navBar {
    padding: $padding_lg 0;
    .navBar_container {
      margin: 0 $margin_md;
      .navBar_title {
        @include secondaryFont($size_md);
        text-align: end;
      }
      .navBar_logo {
        width: 120px;
      }
    }
  }
}
