// Colors

$cristal_primary: #003090;
$cristal_secondary: #4986e8;
$pimba_primary: #471c56;
$pimba_secondary: #ffd500;
$tertiary: #ffffff;

$neutral_darker: #384751;
$neutral_dark: #6e828f;
$neutral: #b1babd;
$neutral_light: #dce5e7;
$neutral_lighter: #fafafa;

$pimba_underline: #fceb96;
$cristal_underline: #b3ccf3;

$wallpaper: linear-gradient(
  180.16deg,
  #f9fafa 0.5%,
  rgba(220, 229, 231, 0) 99.5%
);

$cards: #f2f5f6;

$cristal_primary_gradient: linear-gradient(
  124.06deg,
  rgba(0, 48, 144, 0.878431) 7.23%,
  #4986e8 83.23%
);
$pimba_primary_gradient: linear-gradient(
  124.06deg,
  rgba(71, 28, 86, 0.878431) 7.23%,
  #de7eff 83.23%
);

$error: #ff3a3a;
$correct: #017347;

/* Colors Var */

:root {
  --primary-color: #{$cristal_primary};
  --bg-primary-color: #{$cristal_primary};
  --secondary-color: #{$cristal_secondary};
  --bg-secondary-color: #{$cristal_secondary};
  --primary-gradient: #{$cristal_primary_gradient};
  --underline: #{$cristal_underline};
}

[data-theme="cristal"] {
  --primary-color: #{$cristal_primary};
  --bg-primary-color: #{$cristal_primary};
  --secondary-color: #{$cristal_secondary};
  --bg-secondary-color: #{$cristal_secondary};
  --primary-gradient: #{$cristal_primary_gradient};
  --underline: #{$cristal_underline};
}

[data-theme="pimba"] {
  --primary-color: #{$pimba_primary};
  --bg-primary-color: #{$pimba_primary};
  --secondary-color: #{$pimba_secondary};
  --bg-secondary-color: #{$pimba_secondary};
  --primary-gradient: #{$pimba_primary_gradient};
  --underline: #{$pimba_underline};
}

// Settings
$border_radius: 0px 60px;
$shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
$max_width: 1140px;

//Margin
$margin_xs: 4px;
$margin_sm: 8px;
$margin_md: 16px;
$margin_lg: 32px;
$margin_xl: 64px;

//Padding
$padding_xs: 4px;
$padding_sm: 8px;
$padding_md: 16px;
$padding_lg: 32px;
$padding_xl: 64px;

//Font Size
$size_xxs: 14px;
$size_xs: 16px;
$size_sm: 18px;
$size_md: 20px;
$size_lg: 22px;
$size_xl: 24px;

//Fonts
@mixin primaryFont($size) {
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: $size;
  font-weight: normal;
}

@mixin secondaryFont($size) {
  font-family: "GilroyBold", Arial, sans-serif;
  font-size: $size;
  font-weight: bold;
}

// Flex
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}
