@import "@/utils/theme.scss";

.selectInput {
  background-color: $tertiary;
  border: none;
  border-bottom: 2px solid $primary;
  border-radius: 3px 3px 0px 0px;
  padding: $padding_md;
  @include primaryFont($size_sm);
  color: $neutral_dark;
  margin: $margin_md 0;
  width: 100%;
}

option {
  color: $neutral !important;
}
