@import "@/utils/theme.scss";

.selectInput_container {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  height: 85px;
}

.selectInput {
  background-color: $tertiary;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 3px 3px 0px 0px;
  padding: $padding_md;
  @include primaryFont($size_sm);
  color: $neutral_dark;
  margin: $margin_md 0 0 0;
  width: 100% !important;
  &:focus {
    outline: 1px solid var(--primary-color);
  }
}
.border_error {
  border-bottom: 2px solid $error;
}
.border_empty {
  border-bottom: 2px solid $neutral;
}

option {
  color: $neutral_dark;
}

select:first-child {
  color: $neutral !important;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .selectInput {
    padding: $padding_md;
    @include primaryFont($size_xs);
    width: 100%;
  }
}
