@import "@/utils/theme.scss";

.cuotam {
  @include flex(column, center, flex-start);
  width: 100%;
  margin: $margin_sm 0;
  .cuotam_section {
    @include flex(row, center, flex-start);
    gap: 20px;
    margin: $margin_sm 0;
    .cuotam_container {
      @include flex(row, center, center);
      gap: 20px;

      .cuotam_textContainer {
        @include flex(column, center, center);
        .cuotam_text {
          @include secondaryFont($size_sm);
          color: $neutral_dark;
          margin: $margin_xs 0;
        }
      }
      .cuotam_icon {
        color: $primary;
        font-size: $size_xl;
      }
    }
  }
}
