@import "@/utils/theme.scss";

.smsContainer {
  @include flex(row, flex-start, center);
  gap: 50px;
  width: 50%;
  margin-bottom: $margin_md;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .smsContainer {
    @include flex(column, flex-start, center);
    gap: 0px;
    width: 100%;
  }
}
