html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: GilroyLight;
  src: url("./assets/fonts/Gilroy-Light.woff");
}

@font-face {
  font-family: GilroyBold;
  src: url("./assets/fonts/Gilroy-ExtraBold.woff");
}
