@import "@/utils/theme.scss";

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: $wallpaper;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Para solucionar el problema en IOS */
input[select] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.color_text {
  color: var(--primary-color);
  font-family: "GilroyBold", Arial, sans-serif;
  font-weight: bold;
}

.color_primary_background {
  background-color: var(--bg-primary-color);
}

.color_secondary_background {
  background-color: var(--bg-secondary-color);
}

.color_primary_gradient {
  background: var(--primary-gradient);
}

.gray {
  color: $neutral_dark;
  font-family: "GilroyBold", Arial, sans-serif;
  font-weight: bold;
}

.input_error {
  @include primaryFont($size_xxs);
  color: $error;
  margin: $margin_xs 0;
}

.border_error {
  border-bottom: 2px solid $error;
}
.empty {
  border-bottom: 2px solid $neutral;
}

.buttonContainer_steps {
  display: flex;
  align-items: center;
  gap: 15px;
}

.mobileOnly {
  display: none;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .mobileOnly {
    display: block;
    @include primaryFont($size_xxs);
    color: $neutral;
  }
}

@font-face {
  font-family: GilroyLight;
  src: url("./assets/fonts/Gilroy-Light.woff");
}

@font-face {
  font-family: GilroyBold;
  src: url("./assets/fonts/Gilroy-ExtraBold.woff");
}

.underline {
  text-decoration-line: underline;
  text-decoration-color: var(--underline);
  text-decoration-thickness: 0.45em;
  text-decoration-skip-ink: none;
  text-underline-offset: -0.1em;
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-color: var(--underline);
  -webkit-text-decoration-thickness: 0.45em;
  -webkit-text-decoration-skip-ink: none;
  -webkit-text-underline-offset: -0.1em;
}
