@import "@/utils/theme.scss";

.pinInput_container {
  @include flex(column, center, flex-start);
  width: auto;
}

.pinInput_container div input {
  margin: 0px !important;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .pinInput_container {
    width: 147px;
  }
}
